/* .banner{
    background-image:  url('https://img.freepik.com/free-photo/set-children-toys_93675-130361.jpg?w=1060&t=st=1684423920~exp=1684424520~hmac=cbdb6659748515c50a46e20fb476fcc680f2a232913c11d4d4e8adf0c0800227');


    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100%;
    position: relative;

}
 */

 /* .kl{
    display: grid;
    grid-template-columns:1fr,3fr;
 } */



 @keyframes colorAnimation {
    0% {
      background-color:purple;
    }
    50% {
      background-color:blue;
    }
    100% {
      background-color: green;
    }
  }
  
  .element {
    animation-name: colorAnimation;
    animation-duration: 3s;
    animation-iteration-count: infinite;
  }
 